@model webtruyen.Models.TACGIA

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tác Giả</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Thêm Tác Giả
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                    </thead>

                    <tbody>
                        @using (Html.BeginForm("Create", "TacGia", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    Tên Tác Giả
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TEN_TG, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TEN_TG, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                   Bí Danh
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.BIDANH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BIDANH, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    Mô Tả
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Tạo" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }


                        <div>
                            @Html.ActionLink("Trở về", "ds_Tg")
                        </div>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
        </div>
<!-- End of Content Wrapper -->
