@model webtruyen.Models.TRUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi Tiết Truyện</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Chi Tiết 
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên Truyện</th>
                            <th>Mã Tác Giả</th>
                            <th>Mã Thể Loại</th>
                            <th>Lượt Xem</th>
                            <th>Nguồn</th>
                            <th>Ảnh</th>
                            <th>Mô Tả</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.TENTRUYEN)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MATG)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MATHELOAI)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.LUOTXEM)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.NGUON)
                            </td>
                            <td>
                                <img src="~/Content/HINH/@Html.DisplayFor(model => model.HINHANH)" width="100px" height="100px" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.MOTA)
                            </td>
                            <td></td>

                        </tr>
                        <p>
                            @Html.ActionLink("Chỉnh Sửa", "Edit", new { matruyen = Model.MATRUYEN }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Trở Về", "ds_truyen")
                        </p>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>
<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
        </div>
<!-- End of Content Wrapper -->
